body {
    margin: 0;
}
.logo{
    float: left;
    margin-left: 100px;
    margin-top: 30px;
    position: absolute;
}

.header {
    width: 80%;
    height: 100px;

}
.header_ul {
    float: right;
    list-style: none;
    color:gray;
}
.header_ul li {
    margin-top: 30px;
    margin-left: 20px;
    float: left;
}

.header_ul li:hover {
    color: saddlebrown;
}

.href{
    color:gray;
    text-decoration:none
}

.href:hover{
    color:gray;
    text-decoration:none
}
.header_ul_ul {
    width: 70px;
    text-align: center;
    position: absolute;
    list-style-type : circle;
    color: black;
}

.header_ul_ul li {
    width: 70px;
    margin: 10px -35px 10px -10px;
    float: none;
    text-align: center;
}
.header_ul_home .header_ul_ul {
    display: none;
}

.header_ul_help .header_ul_ul {
    display: none;
}

.header_ul_about .header_ul_ul {
    display: none;
}

.header_ul_sign .header_ul_ul {
    background: white;
    margin-left: -10px;
    display: none;
}
.header_ul_home .header_ul_ul {
    display: block;
}

.header_ul_help .header_ul_ul {
    display: block;
}

.header_ul_about .header_ul_ul {
    display: block;
}

.header_ul_sign:hover .header_ul_ul {
    display: block;
}

.main{
    margin-top: 20px;
}

.button_div button{
    margin-left: 5px;
    margin-right: 5px;
}
.button{
    margin-left: 100px;
    margin-top: 30px;
    height: 105px;
    width: 188px;
}